.quote {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #333333;
}

.quote span.text {
    display: block;
    margin-bottom: 5px;
    font-size: large;
    font-style: italic;
}

.quote small.author {
    font-weight: bold;
    color: #3677E8;
}

.quote .tags {
    margin-top: 10px;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}

.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}


ul.pager {
    margin-bottom: 100px;
}



.pager li {
    display: inline;
}

.pager .next>a, .pager .next>span {
    float: right;
}
.pager a {
    color: #333333;
}
a {
    color: #4582ec;
    text-decoration: none;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.pager .previous>a, .pager .previous>span {
    float: left;
}

.pager .disabled {

    display: none;
}

.author-description {
    text-align: justify;
    margin-bottom: 20px;
}

b, strong {
    font-weight: bold;
}

a {
    color: #4582ec;
    text-decoration: none;
}

.alert-error {
    color: crimson;
    width: 70%;
    float: right;
}

.alert-success {
    color: green;
    width: 70%;
    float: right;
}

.form-label {
    display: inline-block;
    width: 200px;
}
.form-input {
    width: 200px;
}
.author-details {
    width: 80%;
}

.header-box {
    padding-bottom: 40px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical>.btn-group:before, .btn-group-vertical>.btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    content: " ";
    display: table;
}
.pager disabled {
    display: none;
}
.tags-box {
    text-align: right;
}

.tag {
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    font-size: small;
    background-color: #7CA3E6;
}
.tags-box h2 {
    margin-top: 0px;
}
.tag-item {
    display: block;
    margin: 4px;
}


