{% extends "quotes/base.html" %}
{% load extract %}

{% block content %}
<h3>Viewing tag: <a>{{tag}}</a></h3>
<div class="row">
    <div class="col-md-8">

        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">
                {{ quote.quote }}
            </span>
            <span>by <small class="author" itemprop="author">{{quote.author |author}}</small>
        <a href="{% url 'quotes:about' quote.author %}">(about)</a>
        </span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags %}
                <a class="tag" href="/tag/{{tag}}"> {{tag}}</a>
                {% endfor %}

            </div>
        </div>



    </div>

</div>
{% endblock %}


